* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}
#item-1 {
  background-color: steelblue;
  width: 70vw;
  height: 80vh;
  display: flex;
  order: 1;
  text-align: center;
  justify-content: center;
}

#item-2 {
  background-color: #fe7e02;
  display: flex;
  width: 30vw;
  height: 80vh;
  order: 0;
  
}

#item-3 {
  background-color: #45525b;
  width: 30vw;
  height: 80vh;
  order: 2;
}


@media screen and (min-device-width : 1200px) {
  
  .container{
    width: 100vw;
    gap: 10px;
    
  }
  #item-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    height: 100vh;
  }

  #item-2{
    width: 100%;
    order: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #item-3{
    width: 100%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}





@media screen and (min-device-width: 800px ) and (max-device-width: 1199px ) {
 

  #item-2{
    display: flex;
    flex-direction: column;
    width: 90.5%;
    height: 100px;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  #item-1{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    height: 350px;
  }


  #item-3{
    width: 30%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex-wrap: wrap;
  }
}

@media screen and (min-device-width: 100px ) and (max-device-width: 799px ){
  #item-2{
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100px;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
  }

  #item-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    height: 350px;
  }


  #item-3{
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100px;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
  }
  .container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    flex-wrap: wrap;
  }

}